
.login-container {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.header-block {
    margin: 0;
}

.login-with-email-form-block {

}

.go-back-arrow {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.login-form fieldset {
    border: 2px solid #A00000;
    border-radius: 20px;
}

.login-form-wrapper {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-title {
    display: block;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;

}


.form-field-block {
    width: 100%;
    margin-bottom: 40px;

}

.form-field-block input {
    background-color: #FFF;
    width: 100%;
    border-radius: 29px;
    box-shadow: 0 4px 0 0 #930202;
    text-indent: 1.2em;

}

.login-form-buttons {
    margin-top: 20px;
    gap: 20px;
    display: flex;
    justify-content: space-between;
}

.enter-btn {

    background: none;
    font-size: 24px;
    border-radius: 20px;
    border: 2px solid #A00000;
    width: 8em;
    height: 2.5em;
    margin-bottom: 1em;


}

.enter-btn.long-btn {
    width: 14em;
    text-align: center;
    padding-top: 0.4em;
    color:black;

}

.enter-btn:hover {

    background: #272727;
}

.dark-theme-icon-block {
    display: inline;
    justify-content: flex-end;


}

.dark-theme-icon {

    cursor: pointer;

}

.register-form-wrapper {

display: flex;
justify-content: center;
align-items: center;
}

.register-form {


    display: flex;

    flex-flow: column;

}

.btn-register {

    width: 100%;

}