
.user-info-block {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    padding: 5rem;
}

.user-info-block-wrapper {
    display: flex;
    flex-wrap: wrap;
    color: #A90000;
    font-size: 24px;
}

.user-info {
    display: grid;
    align-items: end;
    align-self: flex-end;
    width: 100%;
    height: 4rem;
    border-bottom: 1px solid #947E0E;
    margin-bottom: 1em;
    
}

.user-info-title {
    display: flex;
    gap: 30px;
    align-items: center;
}

.user-info-title h2 {
    font-size: 64px;
    font-weight: 700;
    color: #A90000;
}

.profile-image img {
    width: 100%;
    height: 100%;
    align-self:flex-start;
}

.profile-image {
    display: block;
    width: 300px;
    height: 300px;
    margin-right: 20px;
}

.user-info-description {
    margin-bottom: 1em;
}

.profile-description-area {

    min-height: 10em;
    border-radius: 1rem;
    padding: 1rem;
    border: 2px solid #947E0E;
    margin-bottom: 2rem;
    width: 100%;
}

.user-info-block-wrapper form {

    display: inline;

}

.user-info-edit-btn {
    
    display: flex;
    justify-content: flex-end;
    background:none;
    border-radius: 1.5em;
    color:#A90000;
    padding: 0.5em;
    margin-left: auto;
    

}
.user-info-edit-btn button:hover {

    background: black;

}

.user-info.last-child {
    height: 20em;

}

.user-info.last-child textarea {
    
    margin: 0;
    resize: none;


}



.profile-update-form-block {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* width: 100%; */
    font-size: 20px;
    padding: 2em;
}

.profile-update-form-block form {

    padding: 2em;
}

.profile-update-form-button {

    display: inline;
}


.profile-update-form-group {
    
    
    display: flex;
    flex-direction: column;
    
    margin-bottom: 1em;
   
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}