

.account-type-container {


    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
}


.account-type-btn{

    height: 3rem;
    width: 10rem;
    font-size: 1.5rem;
    border-radius: 20px;
    background-color: #FE7B29;
    color: white;

}

.account-type-btn.employer {

    background-color: red;

}

.account-type-btn:hover {

    opacity: 0.6;
}

