html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {

    text-decoration: none;
    color: none;
}
.header-block {
margin-bottom: 5em;

}

.nav-bar {
display: flex;
flex-direction: row;
flex-wrap: wrap;

justify-content: center;
text-align: center;
background: #000;
position: fixed;
width: 100%;
}

.nav-bar nav {

    width: 100%;

}

.nav-bar-item {
display: inline;
font-size:24px;
margin-right: 1em;
}
.nav-bar-item a {
color: #A90000;
}
.nva-bar-item:last-child {

margin: 0;
}

.go-back-arrow img {
    height:83px ;
    width: 83px;
}



.hiden {
    
    display: None;

}

.container {
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1800px;
}


/* Header */
.header-block {

    height: 100%;
    width: 100%;
    
    
}

.main-page-header {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../src/img/header-background.jpg");
    font-size: 24px;

}


.main-page-header-logo img {

    width: 25vw;
    height: 25vw;
}


.main-page-header-description-list   {
    margin-left: 5%;
    font-weight: bold;
    color:#FE7D29 ;
    padding-top: 10%;
    align-items: flex-end;
    font-size: 1.5vw;

}


/* Navigation*/

.back-to-main-page a {

    font-size: 1vw;
    font-weight: bold;
    color: red;
    position: fixed;
    


}


.main-page-navigation {
    display: flex;
    justify-content: center;    
    margin: 0 auto;
    
}

.nav-item {
    
    display: inline;
    font-size: 5.5vh;
    font-weight: bold;
    list-style-type: none;
    
}

.nav-item a {

    color: red;

}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.nav-item a:hover {
    display: inline-flex;
    animation: bounce 1s;
}

.line-break {
    align-items: flex-start;
    display: inline-flex;
    width: 50%;
    text-align: center;
    
}

/* Container vacations */


.main-page-vacations-block-item img {
    max-width: 100%;
    max-height: 100%;
    height: 25vh;
    width: 15vw;
    margin-right: 5%;
    /* height: 20vh;
    width: 10vw; */

}

.main-page-vacations-block-item {
    display: inline-flex;
    align-items: flex-start;
    
    

}
.vacations-block-item-description {

    display: block;
    
}

#vacations-block {

    display: block;
    margin: 0 auto;
    width: 100%;
    
}

.vacations-title-block {

    display: flex;
    justify-content: center;
}

.main-page-vacations-title {
    
    color: #FE7B29;
    font-size: 2.5vw;

    font-weight: bold;
    text-align: center;
    
}


.main-page-vacations-block {

    margin-top: 5%;
    font-size: 0.7vw;
    display: flex;
    justify-content: space-between;
    align-content: center;
    
    

}


.vacations-description-text-item {

    list-style-type: none;
    

}

.vacations-description-text ul {

    margin: 0;
    padding: 0;
}

.vacations-description-text {
    display: inline-flex;
    flex-direction: row;
    

}

.main-page-description-title {
    display: inline-block;
    font-size: 1.2vw;
    width: 75%;
}

/* Cases */


.about-block {
    padding-top:10%;
    padding-right: 10%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #000;
    text-align: center;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: 160.187%; /* 25.63px */
}


.about-block img {

    height: 8vw;
    width: 9vw;
}


.about-block-item {

    width: 26%;

}


.about-block ul {


    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

}


.about-block li {


    list-style-type: none;

}

/* Contacts */

.contacts-block-container {

    display: flex;
    justify-content: center;
    padding-right:8vw ;
    padding-top: 10vw;
    

}


.contacts-block {

    display: inline-flex;
    justify-content: center;
    flex-flow: column wrap;

}



.contacts-block-title h5 {
    align-self: center;
    text-align: center;
    margin-bottom: 1.5vh;
    color: #000;
    text-align: center;
    font-size:1.3vw;
    font-style: normal;
    font-weight: 400;
    line-height: 160.187%;
}



.contacts-block-icons {
    display: inline-flex;
    margin-bottom: 1.5vh;
    
    
}

.contacts-block-icons img {

    width: 2vw;
    height: 3.5vh;

}


.contacts-block-icon-item {
    width: 6vh;
    display: inline-flex;
    justify-content: center;

}

.contacts-block-info {

    margin-bottom: 5vh;

}


.contacts-block-info span {

    font-size: 1vw;

}