{% extends 'main_app/layout/base.html' %}
{% load static %}
{% block title %} Авторизация {% endblock title %}

{% block header %}
<div class="go-back-arrow">
    <a href="{% url 'main_page' %}">
        <img src="{% static 'main_app/src/img/gobackarrow.png' %}" alt="Вернуться назад">
    </a>
    <div class="dark-theme-icon-block">
        <img class="dark-theme-icon" src="{% static 'main_app/src/img/moon.png' %}" alt="Темная тема" onclick="">
    </div>
</div>

{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-form-wrapper">

        <div class="page-title">
            <span>
                Вход
            </span>
        </div>
        <div class="login-with-email-form-block" id="login-with-email" style="display: flex">
            <form method="post" class="login-form">
                {% csrf_token %}
                <fieldset>
                    <div class="form-field-block">
                        <input id="email_field" name="email" type="email" placeholder="Почта" required />
                    </div>
                    <div class="form-field-block">
                        <input id="password_field" type="password" name="password" placeholder="Пароль" required />
                    </div>
                </fieldset>
                <div class="login-form-buttons">
                    <input type="submit" class="enter-btn" value="Войти"/>
                        <a href="{% url 'registration' %}" class="enter-btn long-btn">
                            Зарегестрироваться
                        </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
