{% extends 'main_app/layout/base.html' %}


{% block title %} Регистрация {% endblock title %}

{% block content %}

<nav class="back-to-main-page">
    <a href="{% url 'main_page' %}">
        Вернуться назад
    </a>
</nav>

<div class="account-type-container">
    <div class="account-type-btn-block">
        <form action="{% url 'registration-employer' %}">
            <button class="account-type-btn employer">
                Работодатель
            </button>
        </form>
        
    </div>

    <div class="account-type-btn-block">
        <form action="{% url 'registration-candidate' %}">
            <button class="account-type-btn">
                Соискатель
            </button>
        </form>
    </div>
</div>

{% endblock content %}