{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

{#    <link rel="stylesheet" href="{% static 'main_app/src/bootstrap/css/bootstrap.min.css' %}">#}
    <link rel="stylesheet" href="{% static 'main_app/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main_app/css/registration-page.css' %}">
    <link rel="stylesheet" href="{% static 'main_app/css/login-page.css' %}">
    <link rel="stylesheet" href="{% static 'main_app/css/profile-page.css' %}">
    <link rel="stylesheet" href="{% static 'chat/css/chatPage.css' %}">
<title>{% block title %} {% endblock title %}</title>
</head>
<body>

    <div class="header-block">

        {% block navbar %}
        {% if request.user.is_authenticated %}
        <div class="nav-bar">
            <nav>
                <ul>
                    <li class="nav-bar-item">
                        <a href="{% url 'profile-page' request.user.id %}">
                            Личный кабинет
                        </a>
                    </li>
                    <li class="nav-bar-item">
                        <a href="{% url 'chat' %}">
                            Сообщения
                        </a>
                    </li>
                    <li class="nav-bar-item">
                        <a href="{% url 'candidates' %}">
                            Специалисты
                        </a>
                    </li>
                    <li class="nav-bar-item">
                        <a href="{% url 'vacations' %}">
                            Объявления
                        </a>
                    </li>
                    <li class="nav-bar-item">
                        <a href="">
                            Срочные заявки
                        </a>
                    </li>
                    <li class="nav-bar-item">
                        <a href="">
                            Форум
                        </a>
                    </li>
                    <li class="nav-bar-item">
                        <a href="">
                            Новости и информация
                        </a>
                    </li>
                    <li class="nav-bar-item">
                        <a href="{% url 'logout' %}">
                            Выход
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        {% endif %}
        {% endblock navbar %}
        {% block header %}
        
        {% endblock header %}
    </div>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

    {% block footer %}
    <footer>
        <div class="contacts-block-container">
            <div class="contacts-block">

                <div class="contacts-block-title">
                    <h5>
                        Контакты
                    </h5>
                </div>

                <div class="contacts-block-icons">
                    <div class="contacts-block-icon-item phone">
                        <a href="tel:+79995202008">
                            <img src="{% static 'main_app/src/img/phone.png' %}" alt="Телефон">
                        </a>

                    </div>

                    <div class="contacts-block-icon-item telegram">
                        <a href="https://t.me/operses">
                            <img src="{% static 'main_app/src/img/telegram.png' %}" alt="Телеграмм">
                        </a>
                    </div>

                    <div class="contacts-block-icon-item whats-app">
                        <a href="https://wa.me/79995202008">
                            <img src="{% static 'main_app/src/img/whatsapp.png' %}" alt="Whats App">
                        </a>
                    </div>

                </div>

                <div class="contacts-block-info">
                    <div class="contacts-block-info-phone">
                        <span>
                            +7 (999) 520-20-08
                        </span>
                    </div>
                    <div class="contacts-block-info-telegram">
                        <span>
                            @operses
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    {% endblock footer %}
    <script src="{% static 'main_app/js/script.js' %}"></script>
</body>
</html>