{% extends 'main_app/layout/base.html' %}

{% block header %}
Срочные заявки
{% endblock header %}

{% block content %}

<div class="create-new-urgent-application">
    <a href="{% url 'urgent-create' %}" class="create-new-urgent-application-btn">
        Разместить заявку
    </a>
</div>
{% if content %}
<div class="urgent-applications-list-block">
    {% for app in content %}
        <div class="urgent-applications-card">
            <p class="urgent-applications-card-title">
                {{app.title}}
            </p>

            <p class="urgent-applications-card-description">
                {{app.description}}
            </p>
            <p class="urgent-applications-card-deadlines">
                {{app.deadlines}}
            </p>
            <p class="urgent-applications-card-user">
                {{app.user}}
            </p>
            {% if request.user.id != app.user.id %}
            <p class="urgent-applications-card-send-message">
                <a href="{% url 'create-chat-room' app.user.id%}" class="send-message-btn">
                    Написать
                </a>
            </p>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% else %}

<h2>Срочных заявок нет</h2>

{% endif %}

{% endblock content %}