{% extends 'main_app/layout/base.html' %}
{% load static %}
{% block title %} Авторизация {% endblock title %}

{% block content %}

<div class="urgent-applications-list-block">
{#  Тут цикл с текстами форума  #}
    {% for post in posts %}
    <div class="urgent-applications-card">
{#        <a href="{% url 'profile-page' text.id %}">#}
            <div class="urgent-applications-name">
                <h3>
                  {{ post.title }}
                </h3>
            </div>
            <div class="urgent-applications-citizenship">
                <p>
                  {{ post.text }}
                </p>
            </div>
{#        </a>#}
    </div>
    {% endfor %}
</div>

{% endblock content %}
