{% extends 'main_app/layout/base.html' %}


{% block title %} {{user_info.username}} {% endblock title %}


{% block content %} 

<div class="user-info-block">
    <div class="user-info-title">
        <h2>
            Личный кабинет
        </h2>
    </div>
    <div class="user-info-block-wrapper">
        <div class="profile-image">
            <img src="{{ user_info.profile_image.url }}" alt="">
        </div>
        {% if request.user.id == user_info.id %}
        <div class="user-info-edit-btn">
            <form action="{% url 'update-profile-page' request.user.id %}" method="get">
                <button class="user-info-edit-btn">
                    Редактировать
                </button>
            </form>

        </div>
        {% endif %}

        {% if user_info.role == "EMPLOYER" %}
        
{#        <div class="user-info-fields">#}
            <div class="user-info">
                <span>Имя: {{user_info.username}}</span>
            </div>
            <div class="user-info">
            <span>Фамилия: {{user_info.second_name}}</span>
            </div>
            <div class="user-info">
                <span>Город: {{user_info.city}}</span>
            </div>
            <div class="user-info">
                <span>
                    Гражданство: {{user.info.citizenship}}
                </span>
            </div>
            <div class="user-info">
                <span>Адрес основного объекта: {{role.address}}</span>
            </div>
            <div class="user-info">
                <span>
                    Другие объекты: {{role.other_objects}}
                </span>
                
            </div>
            <div class="user-info">
                <span>
                    {% if user_info.phone_number == 0 %}
                    Номер телефона не указан
                    {% else %}
                    Номер телефона: <a href="tel:{{user_info.phone_number}}">{{user_info.phone_number}}</a>
                    {% endif %}
                </span>
            </div>
            <div class="user-info-description">
                <span>О компании: </span>
            </div>
            <div class="profile-description-area">
                {{user_info.profile_description}}
            </div>
        </div>
    </div>    
    
    {% else %}
    <div class="user-info-fields">
        <div class="user-info">
            <span>Имя: {{user_info.username}}</span>
            <span>Фамилия: {{user_info.second_name}}</span>
        </div>
        <div class="user-info">
            <span>Город: {{user_info.city}}</span>
        </div>
        <div class="user-info">
            <span>Опыт работы: {{role.experience}}</span>
        </div>
        <div class="user-info">
            <span>
                Специальность: {{role.specialization}}
            </span>
            
        </div>
        <div class="user-info">
            <span>
                {% if user_info.phone_number == 0 %}
                Номер телефона не указан
                {% else %}
                Номер телефона: <a href="tel:{{user_info.phone_number}}">{{user_info.phone_number}}</a>
                {% endif %}
            </span>
        </div>
        <div class="user-info-description">
            <span>О себе: </span>
        </div>
        <div class="profile-description-area">
            
            {{user_info.profile_description}}
            
        </div>
    </div>
</div>    

    {% endif %}
    
</div>
<!-- <form action="{% url 'logout' %}" method="get">

    
    <button class="btn btn-danger">
        Выйти
    </button>
</form> -->

{% endblock content %}