{% extends 'main_app/layout/base.html' %}
{% load static %}

   
    
{% block title %}Список диалогов{% endblock title %}


{% block content %}
<div class="room-names-wrapper">
    <p>Диалоги</p>
    <div class="room-name-block">
        <input type="text" id="room-name-input" size="100">
    </div>
    <div class="room-name-submit-block">
        <input type="button" value="Enter" id="room-name-submit">
    </div>
</div>
<script src="{% static 'chat/js/chatRooms.js' %}"></script>
{% endblock content %}

