{% extends 'chat/index.html' %}
{% load static %}
{% block title %} Диалог {% endblock title %}

{% block content %}

<div class="chat-log-block">
    <div id="chat-log">
        {% for message in chat_messages %}
        <div>{{message.user}}:  {{message}}</div>
        {% endfor %}
    </div>
</div>
<div class="chat-message-input-block">
    <input type="text" id="chat-message-input" size="100">
</div>
<div class="chat-message-send-block">
    <input type="button" id="chat-message-send" value="Отправить">
    {{ room_name|json_script:"room_name" }}
    {{ username|json_script:"username" }}

</div>


<script src="{% static 'chat/js/roomPage.js' %}"></script>
{% endblock content %}
